// Page dimensions
$breakpoint: 678px;
$header-height: 60px;
$max-content-width: 1280px;

// colors
$white: #fff;
$red: #dc3545;
$dark-red: #8b0000;
$classic-blue: #0f4c81;
$green: #28a745;
$blue: #007bff;
$yellow: #ffc107;

$gray-1: #f8f8f8;
$gray-2: #eee;
$gray-3: #555;

$bg-white: #fff;
$bg-light: #ffaaaa;
$bg-dark: $classic-blue;
$bg-black: #000;
