@import '../../../../sass/_variables';
@import '../../../../sass/_buttons';
@import '../../../../sass/_list-grid';

.pageTitle {
  font-size: 1.6em;
  display: flex;
  justify-content: space-between;
  padding: 0.6em 0 0 12px;
  margin: 0 auto 0.6em;
}

.loading {
  display: none;
}

.list {
  @extend .list-grid;

  @media screen and (max-width: $breakpoint) {
    margin-bottom: 60px;
  }

  // grid rows
  li {
    // data cells
    div {
      height: 100%;
      margin: 0 6px;
      padding: 6px 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-right: 1px solid $gray-2;

      // first column
      &:nth-child(1) {
        grid-column: 1 / 6;

        @media screen and (max-width: $breakpoint) {
          grid-column: 1 / 9;
          border-right: none;
        }
      }

      // second column
      &:nth-child(2) {
        grid-column: 6 / 8;
        text-align: right;

        @media screen and (max-width: $breakpoint) {
          display: none;
        }
      }

      // action column
      &:last-child {
        grid-column: 11 / 13;
        display: flex;
        justify-content: flex-end;
        border-right: none;

        @media screen and (max-width: $breakpoint) {
          grid-column: 9 / 13;
        }

        a {
          @extend .button;
          padding: 2px 2px;
          margin-left: 0.5em;
          width: 24px;
          height: 24px;
          vertical-align: middle;
        }

        // edit button
        a:nth-child(1) {
          @extend .button.blue;
          padding: 3px 2px 1px 3px;
        }

        // delete button
        a:nth-child(2) {
          @extend .button.red;
        }
      }
    }
  }
}
